.main-wrapper {
  width: 940px;
  margin: 100px auto;
}

/* TABROW */
.tab-row {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.tabrow__icon {
  background: var(--dark2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 3px;
}
.tabrow__icon:hover {
  background: var(--dark3);
  cursor: pointer;
}

/* DASHBOARD */
.dashboard {
  width: 100%;
  min-height: 617px;
  /* background: var(--dark1); */
  border-bottom: 3px solid var(--dark);
  /* padding: 20px; */
}
/* statusrow */
.status-row {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  background: var(--dark1);
  border-bottom: 2px solid var(--faded);
  padding: 10px;
  position: relative1;
}
.status-row__header {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.status-row__data {
  text-align: right;
  width: 200px;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin: -15px 0;
}
.status-row__data--loading {
  font-size: 14px;
}
.status-row__mood {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.status-row__mood:hover {
  background: var(--dark3);
  transition: 0.3s ease-in-out;
}
.status-row__mood__showBoard {
  position: absolute;
  right: 140px;
  top: 136px;
  font-size: 12px;
  font-style: italic;
  margin-top: auto;
  cursor: pointer;
  padding: 6px;
  transition: 0.3s ease-in-out;
}
.status-row__mood__showBoard:hover {
  background: var(--dark3);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.mood-icon {
  margin: 5px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.mood-icon:hover {
  transition: 0.1s ease-in-out;
}
.mood-smile:hover {
  color: rgb(120, 226, 120);
}
.mood-meh:hover {
  color: rgb(177, 175, 175);
}
.mood-frown:hover {
  color: rgb(56, 56, 131);
}
.status-row__mood__success {
  position: absolute;
  top: 210px;
  left: 50%;
  transition: 0.3s ease-in-out;
}
/* modules */
.module-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
.module {
  width: 50%;
}
/* bookmark grid */
.bookmark-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-gap: 13px;
  width: 450px;
}
.bookmark-grid__config {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-style: italic;
  padding: 8px;
  border-radius: 5px;
  width: 120px;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}
.bookmark-grid__config:hover {
  background: var(--dark3);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.bookmark-grid__config p {
  padding-left: 5px;
}

.bookmark-grid__item {
  background: var(--dark2);
  border-bottom: 2px solid var(--faded);
  transition: 0.3s ease-in-out;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookmark-grid__item:hover {
  background: var(--dark3);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.bookmark-grid__item__favicon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.bookmark-grid__empty {
  padding: 15px;
  border-radius: 5px;
  background: var(--dark2);
  font-size: 11px;
  width: 450px;
}
.bookmark-grid__empty__arrow {
  transform: scaleX(-1);
  margin-right: 10px;
}

/* MODAL */
.bookmark-grid__modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 9;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.bookmark-grid__modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark2);
  padding: 15px;
  width: 500px;
  border-radius: 0.5rem;
}
.bookmark-grid__modal__submit {
  border: 0;
  background: var(--dark3);
  padding: 10px;
  color: var(--whitish);
  font-weight: bold;
  border-radius: 5px;
  margin-top: 5px;
}
.bookmark-grid__modal__submit:hover {
  background: var(--dark4);
}
.bookmark-grid__modal__close {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: var(--dark3);
}
.bookmark-grid__modal__close:hover {
  background-color: var(--dark4);
}
.bookmark-grid__modal--show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.bookmark-grid__modal textarea {
  width: 90%;
  border: 0;
  background: var(--dark3);
  border-radius: 5px;
  min-height: 100px;
  margin-top: 14px;
  color: var(--whitish);
  resize: none;
}
