@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

:root {
  --dark: #0b0b0e;
  --dark1: #17171c;
  --dark2: #141418;
  --dark3: #1d1d24;
  --dark4: #2c2c38;

  --whitish: rgb(219, 219, 219);
  --faded: #29292e;
}

body,
html {
  background: var(--dark);
  color: var(--whitish);
}

h1,
h2,
h3,
a,
p,
button {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
